# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.cab
*.bak
*.log
*.bak~

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# Linux
*~
*.swp
*.swo
*.bak

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
.venv/
*.egg-info/

# IDEs
.idea/
.vscode/
*.iml
*.sublime-workspace
*.sublime-project

# Logs and databases
*.log
*.sql
*.sqlite

# Operating System files
Desktop.ini
Thumbs.db